# Dataset is versioned using Git LFS
# Large image files are tracked through .gitattributes

model/*.pt
model/*.pkl
src/mlruns/
src/artifacts/

# Python
__pycache__/
*.pyc
.venv/
venv/
*.egg-info/

# DVC
/.dvc/tmp
/.dvc/cache

# OS / editor
.DS_Store
.idea/
.vscode/
